

.box {
  display: flex;
  align-items: center;
  gap: 15px;


}
 
.icon {
  width: 50px;
  height: 50px;
  display:block;

}


a {
  color: inherit;        /* przejmuje kolor tekstu */
  text-decoration: none; /* usuwa podkreślenie */
}

/* ---------------------------------------------Upload----------------------------------------------- */


.upload-box {
  width: 500px;
  padding: 40px;
  border: 2px dashed #bfbfbf;
  border-radius: 12px;
  text-align: center;
  background: #fff;
}

.down-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 16px;
  border-radius: 50%;
  background: #eef4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.upload-box h3 {
  margin-bottom: 8px;
}

.upload-box p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.upload-btn {
  display: inline-block;
  padding: 10px 24px;
  background: #2563eb;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.upload-btn:hover {
  background: #1e40af;
}
.page-center {
  min-height: 100vh;          /* cała wysokość ekranu */
  display: flex;
  align-items: center;        /* pion */
  justify-content: center;    /* poziom */
}

/* ---------------------------------------------Upload----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Body  */
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

/*  Navigation  */
.navbar {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/*  Brand */
.brand {
  font-size: 16px;
  font-weight: bold;
  color: #4169E1;
}

/* Navigation link box */
.nav-links {
  margin-left: auto;   
  list-style: none;
  display: flex;
  gap: 24px;
}

/* Link styling */
.nav-links a {
  text-decoration: none; /* remove underline */
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease; /* smooth hover */
}

/* Hover effect */
.nav-links a:hover {
  color: #4169E1;
}

.small-text {
 font-size: 8px;
 opacity: 0.5;
 font-weight: bold;
}